.cart-container {
    padding: 10px;
    margin: 0 50px;
    .breadcrumb {
            padding: 10px 0;
    
            li {
                display: inline;
    
                a {
                    display: inline;
    
                    &:hover {
                        color: #01447e;
                        text-decoration: underline;
                    }
                }
            }
        }
}



.cart-container .breadcrumb li+li::before {
    color: black;
    padding: 8px;
    content: "/\00a0";
}
.cart-main{
    display: flex;
    gap: 40px;
    
    .left-cart{
        width: 65%;
        background-color: #fff;
        h3{
            border-bottom: 1px solid #333;
            padding: 5px 10px;
            font-size: 20px;
            font-weight: 700;
        }
        p{
            padding: 2px 10px;
            font-size: 14px;
            font-weight: 400;
        }
        .cart-items{
            border: 1px solid #333;
            border-radius: 10px;
            margin: 5px 10px;
            .cart-item{
                display: flex;
                justify-content: space-evenly;
                padding: 15px 10px;
                .cart-img{
                    max-height: 150px;
                    padding-left: 10px;
                    img{
                        width: 100px;
                    }
                }
                .item-desc{
                    min-width: 300px;
                    .desc-name{
                        font-weight: 600;
                        font-size: 20px;
                    }
                    .desc-price{
                        color: red;
                        font-weight: 900;
                        font-size: 16px;
                    }
                }
                .item-action{
                    min-width: 150px;
                    p{
                        padding: 5px 0;
                        font-size: 16px;
                        font-weight: 900;
                    }
                    .actions {
                        button{
                                width: 40px;
                                height: 40px;
                                font-weight: 700;
                                border: 1px solid #f3f4f4;
                                background: #fff;
                                cursor: pointer;
                    
                                p{
                                    width: 100%;
                                    height: 100%;
                                    font-size: 24px;
                                }
                    
                                :hover {
                                    background-color: #01447e;
                                    color: #fff;
                                }
                            }
                    
                            input {
                                width: 40px;
                                height: 40px;
                                text-align: center;
                                border: 1px solid #f3f4f4;
                            }
                        }
                }
            }
        }
    }
    .cart-note{
        margin: 5px 10px;
        background-color: #f3f4f4;
        p{
            font-size: 18px;
            font-weight: 600;
            padding: 5px 10px;
        }
        textarea{
            margin: 0 10px 10px 10px;
            width: calc(100% - 20px);
            border-radius: 10px;
        }
    }
    .check-order{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 2px 10px;
        svg{
            font-size: 28px;
            color: red;
        }
        p{
            font-size: 16px;
            color:red;
        }
    }
    .right-cart{
        width: calc(35% -  70px);
        overflow: hidden;
        .info-desc{
            background-color: #fff;
            border-radius: 10px;
            h3{
                font-size: 24px;
                font-weight: 700;
                border-bottom: 1px solid #333;
                padding: 5px 10px;
            }
            .price-area{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #333;
                padding: 15px 0;
                p{
                    padding: 5px 10px;
                    font-size: 20px;
                    font-weight: 600;
                }
                p{
                    font-size: 28px;
                    padding-right: 10px;
                    color: red;
                    font-weight: 700;
                }
            }
            .text-area{
                word-break: break-word;
                margin: 5px 10px;
                p{
                    font-size: 18px;
                    font-weight: 300;
                }
            }
            .button-area{
                text-align: center;
                button{
                    padding: 10px 100px;
                    border: none;
                    margin: 15px 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    background-color: #252a2b;
                    cursor: pointer;
                    &:hover{
                        background-color: red;
                    }
                }
            }
        }
        .last-info{
            margin-top: 20px;
            background-color: aliceblue;
            h5{
                font-size: 18px;
                padding: 20px 10px 0 10px;
                border-bottom: 1px solid #333;
            }
            p{
                font-size: 16px;
                padding: 5px 0 0 10px;
            }
        }
    }
}
